h1 {
    font-family: sans-serif;
    text-align: center;
}

div {
    font-family: sans-serif;
}

#container {
    background-color: white;
    height: 640px;
    width: 640px;
    top: 30px;
    bottom: 30px;
    position: relative;
    margin: auto;
    padding: 0;
    border: none;
    outline: 2px solid black;
    font-size: 0;
}

.unit {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 40px;
    display: inline-block;
    outline: 1px solid black;

}

.instructions {
    font-family: sans-serif;
    text-align: center;
}

#btn1 {
    text-align: center;
    
}

button {
    display: inline-block;
    
}

body {
    background-color: grey;
}

